# https://cloud.browser-use.com/billing
BROWSER_USE_API_KEY=""

# https://app.inngest.com — Event Keys
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

# https://resend.com/
RESEND_API_KEY=""

# NOTE: You can use `onboarding@resend.dev`` to send email to your account in the testing phase.
#       We recommend you verify your domain when rolling out QA Use internally.
RESEND_FROM_EMAIL="Example <onboarding@resend.dev>"